button {
    // border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-left: 110px;
    margin-top: 210px;
    transition: 400ms;
    border: none;

    &:hover {
        background-color: rgb(231, 231, 231);
        border: 0.5px solid black;
    }

}