@import url('http://fonts.cdnfonts.com/css/lemonmilk');

.select {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.title {
    height: max-content;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    transform: rotate(180deg);
    padding-top: 10px;
    font-family: 'Lemon/Milk', sans-serif;
    font-size: 57.34px;
    position: relative;
}

.line {
    border: 2px solid #000000;
    height: 60%;
    width: 2px;

}
.next_prev{
    display: flex;
    flex-direction: column;

}

    button {
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        transition: 400ms;
        border: none;
        &:hover {
            background-color: rgb(231, 231, 231);
        }
    
    }
