@import url('http://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poiret+One&family=Poppins:wght@100;400&family=Rajdhani&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:wght@300;400&family=Teko:wght@500&family=Yanone+Kaffeesatz&display=swap');


.info {
    font-size: 40px;
    font-family: 'Lemon/Milk', sans-serif;
    // margin-left: 195px;
    // padding-top: 125px;

    h3 {
        display: inline-block;
        // width: 100%;
        padding-bottom: 2px;
        position: relative;
        margin-left: 10%;

        &::after {
            content: '';
            width: 120%;
            height: 4px;
            background-color: rgb(255, 94, 0);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        span {
            font-size: 35px;
        }



    }


        

}


.heroInfo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 240px;
    margin-top: -20px;
    position: absolute;
    font-size: 30px;

}

.detailHero{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    margin-top: -20px;
    margin-left: 12%;
    width: 40ch;
}